@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

body {
  background-color: #d7d7d7;
}

@font-face {
  font-family: Space;
  src: url(./media/fonts/SpaceMono-Regular.ttf);
}

header {
  height: 10vh;
  background-color: #d9bf71;
}

#burgerMenuIcon {
  cursor: pointer;
}

#burgerExpanded ul {
  height: 85vh;
}

#frame1 {
  height: 90vh;
}

#frame2,
#frame3 {
  height: 100vh;
}

body {
  font-family: 'Space';
}

footer {
  background-color: #d9bf71;
}

.scrollButton {
  height: 45px;
  width: 45px;
}

/* Marker modifier */
#main ul li::before {
  content: '•';
  color: #358c84;
  font-size: 18px;
  font-weight: bold;
  vertical-align: sub;
  margin-right: 4px;
}

/* Custom bootstrap-like classes */

/* Colors  */
.text-brand-primary {
  color: #358c84;
}

.bg-brand-primary {
  background-color: #358c84;
}

.text-brand-secondary {
  color: #d9bf71;
}

.bg-brand-secondary {
  background-color: #d9bf71;
}

.text-brand-ternary {
  color: #97bf04;
}

.bg-brand-ternary {
  background-color: #97bf04;
}

/* Effects */

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Font sizes */

.fs-0 {
  font-size: 48px;
}

.fs-7 {
  font-size: 16px;
}

.fs-8 {
  font-size: 11px;
}

.map-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

/* contact page */
#contact_menu {
  height: 85vh;
}

#contact_links a:hover {
  background-color: #d9bf71;
}

/* map page */
.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media only screen and (min-width: 992px) {
  header {
    background-color: #d9bf71;
    height: auto;
  }

  #frame1,
  #frame2,
  #frame3 {
    height: auto;
  }

  .fs-7,
  .fs-8 {
    font-size: 20px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 32px;
  }

  .fs-lg-h2 {
    font-size: 36px;
  }

  .vh-75 {
    height: 85vh;
  }

  #A_R_D,
  #A_projets,
  #A_ombrière,
  #collab {
    height: 100vh;
  }
}
